<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=10"> 
  <title>环保3D监控</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../dist/css/ionicons.min.css">
  <link rel="stylesheet" href="../dist/css/AdminLTE.css">
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.css">
  <link rel="stylesheet" href="../vince/css/vince.css">
  <link rel="stylesheet" href="../vince/biao/css/font-awesome.min.css">
  <!--[if lt IE 9]>
  <script src="../dist/js/html5shiv.min.js"></script>
  <script src="../dist/js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">



<div class="fuceng">
  <div class="fuqu" id="box">
    <div class="fuquzone">
      <div class="fuqulogo" id="bar1">
        
      </div>
      <p class="fuqutitle" id="bar">
        <span class="fuclose">×</span>
      </p>
    

  <div class="fuqusave">
      <input type="button" value="保存">
  </div></div></div></div>
<div class="wrapper">
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini">
	  <img src="../vince/images/v01.png">
	  </span>
      <span class="logo-lg"><img src="../vince/images/v01.png">EMS</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
      <span class="all_title">能源管理监控系统</span>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" >
              <!-- <img src="../dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
              <span class="hidden-xs">2016-9-13 16:12:14</span>
            </a>
            
          </li>
         
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">


      <ul class="sidebar-menu">
        <li class="header">菜单 MENU</li>
        <li class="active">
          <a href="index">
            <i class="fa fa-home" style="font-size: 22px"></i> <span>首页</span>
          </a>
        </li>
        <li >
          <a href="chejian3d">
            <i class="fa fa-eye" style="font-size: 22px"></i> <span>车间3D监控</span>
          </a>
        </li>
        <li >
          <a href="monitoring">
            <i class="fa fa-video-camera" style="font-size: 22px"></i> <span>监控电</span>
          </a>
        </li>
        <li >
          <a href="lighting">
            <i class="fa fa-fire" style="font-size: 22px"></i> <span>照明</span>
          </a>
        </li>
        <li>
          <a href="yuanliaocangku">
            <i class="fa fa-sliders"></i> <span>原料仓库</span>
          </a>
        </li>
        <li>
          <a href="chengpincangku">
            <i class="fa fa-map" ></i> <span>成品仓库</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>生产车间</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="left_workshop"><i class="fa fa-bookmark"></i> 左车间动力</a></li>
            <li><a href="right_workshop"><i class="fa fa-bookmark"></i> 右车间动力</a></li>
            <li><a href="left_wkshop_vrv"><i class="fa fa-bookmark"></i> 左车间空调</a></li>
            <li><a href="maintenance_room"><i class="fa fa-bookmark"></i> 维修室动力</a></li>
            <li><a href="pack_glue_room"><i class="fa fa-bookmark"></i> 包胶间动力</a></li>
            <li><a href="handl_temp_test"><i class="fa fa-bookmark"></i> 高低温试验区</a></li>
            <li><a href="production_line1"><i class="fa fa-bookmark"></i> SMT产线1</a></li>
            <li><a href="production_line2"><i class="fa fa-bookmark"></i> SMT产线2</a></li>
            <li><a href="can_seamer_room"><i class="fa fa-bookmark"></i> 封罐间</a></li>
            <li><a href="thermostatic_chamber"><i class="fa fa-bookmark"></i> 恒温室</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>办公室</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="workshop_office"><i class="fa fa-bookmark"></i> 办公室空调</a></li>
            <li><a href="technology_office"><i class="fa fa-bookmark"></i> 技术部办公室</a></li>
            <li><a href="east_office"><i class="fa fa-bookmark"></i> 1、2楼东办公室</a></li>
            <li><a href="second_floor_workshop"><i class="fa fa-bookmark"></i> 车间2楼动力</a></li>
            <li><a href="production_office"><i class="fa fa-bookmark"></i> 生产办公室</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-magnet"></i>
            <span>环保除异味系统</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-bookmark"></i>环保除异味组态监控</a></li>
            <li><a href="huanbao3d"><i class="fa fa-bookmark"></i>环保除异味3D监控</a></li>
          </ul>
        </li>

      </ul>
    </section>
  </aside>
  <div class="content-wrapper">

    <div class="content qqq">
    <div class="rezone">
          <div class="requtu">  
<img src='../vince/images/huanbao3d.png'  />
            <map name="Map">
              <area shape="poly"  id="hotone"  coords="487,85,563,60,660,41,721,35,753,35,772,40,785,45,778,190,748,197,729,213,727,230,727,264,680,276,665,273,640,269,624,269,598,273,580,273,564,274,556,274,542,280,524,280,508,278,492,278,485,263" href="#">
              <area shape="poly" id="hottwo"coords="185,156,213,177,223,175,236,188,238,200,307,211,308,196,330,189,424,156,422,110,400,91,315,72,311,51,257,40,244,32,212,26,168,32,155,45,156,115,159,135" href="#">
            </map>
<div class="labelone labels" >
	<span class="label label-default ">Default</span>
</div>
<div class="labeltwo labels" >
	<span class="label label-default ">labletwo</span>
</div>

<div class="panle1"></div>

</div>


</div></div>

  <div class="control-sidebar-bg"></div>
</div>
</div>
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../dist/js/app.min.js"></script>

<script src="../vince/js/nicescroll.js"></script>
<script src="../vince/drag/zxx.drag.1.0.js"></script>
<script src="../dist/js/demo.js"></script>
<script src="../vince/js/demo.js"></script>

<div id="sss" style="display:none;height:200px;width:200px;"></div>
<script src="../vince/js/echarts.min.js"></script>
<script type="text/javascript">


$(document).ready(function(){

	/*  window.timerTaskFunction0=setInterval('reflash()',1000); */ 
	window.timerTaskFunction2=setInterval('reflashDate()',1000);
	
	
})

Date.prototype.Format = function (fmt) { // author: meizz
    var o = {
        "M+": this.getMonth() + 1, // 月份
        "d+": this.getDate(), // 日
        "h+": this.getHours(), // 小时
        "m+": this.getMinutes(), // 分
        "s+": this.getSeconds(), // 秒
        "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
        "S": this.getMilliseconds() // 毫秒
    };
    if (/(y+)/.test(fmt))
        fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
}


function reflash(){
	$.ajax({
		   type: "POST",
		   url: "getData",
		   success: function(msg){
			  $(".labelone span").html(msg[0].value+"kwh")
			  $(".labeltwo span").html(msg[2].value+"kwh")
			 reflash()
		   }
	})
}
function reflashDate(){
	var time2 = new Date().Format("yyyy-MM-dd hh:mm:ss");
	$(".hidden-xs").html(time2);
}




</script>
</body>
</html>